In [36]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [37]:
df = pd.read_csv("Loan Predication dataset.csv")

In [38]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [39]:
df.drop("Loan_ID", axis=1, inplace=True)

In [40]:
df.shape

(614, 12)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [42]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [43]:
df.dropna(inplace=True)

In [44]:
df.shape

(480, 12)

In [45]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [46]:
df.replace({"Loan_Status": {"Y": 1, "N": 0}}, inplace=True)
df["Loan_Status"] = df["Loan_Status"].astype('int32')

In [47]:
from sklearn.compose import ColumnTransformer
ctf = ColumnTransformer(transformers=[
    ("tnf1", OrdinalEncoder(categories=[["Rural","Semiurban","Urban"], ["Not Graduate","Graduate"], ["0","1", "2", "3+"]]),['Property_Area','Education', "Dependents"]),
    ("tnf2", OneHotEncoder(sparse_output=False, drop='first'),["Gender", "Married", "Self_Employed"])
], remainder="passthrough")

In [48]:
arr = ctf.fit_transform(df)

In [49]:
dd = pd.DataFrame(arr)

In [50]:
dd

      0    1    2    3    4    5       6       7      8      9    10   11
0    0.0  1.0  1.0  1.0  1.0  0.0  4583.0  1508.0  128.0  360.0  1.0  0.0
1    2.0  1.0  0.0  1.0  1.0  1.0  3000.0     0.0   66.0  360.0  1.0  1.0
2    2.0  0.0  0.0  1.0  1.0  0.0  2583.0  2358.0  120.0  360.0  1.0  1.0
3    2.0  1.0  0.0  1.0  0.0  0.0  6000.0     0.0  141.0  360.0  1.0  1.0
4    2.0  1.0  2.0  1.0  1.0  1.0  5417.0  4196.0  267.0  360.0  1.0  1.0
..   ...  ...  ...  ...  ...  ...     ...     ...    ...    ...  ...  ...
475  0.0  1.0  0.0  0.0  0.0  0.0  2900.0     0.0   71.0  360.0  1.0  1.0
476  0.0  1.0  3.0  1.0  1.0  0.0  4106.0     0.0   40.0  180.0  1.0  1.0
477  2.0  1.0  1.0  1.0  1.0  0.0  8072.0   240.0  253.0  360.0  1.0  1.0
478  2.0  1.0  2.0  1.0  1.0  0.0  7583.0     0.0  187.0  360.0  1.0  1.0
479  1.0  1.0  0.0  0.0  0.0  1.0  4583.0     0.0  133.0  360.0  0.0  0.0

[480 rows x 12 columns]

In [51]:
x=dd.iloc[:,:11]
# x = x.astype(float)

In [52]:
y=dd[11]
# y = y.astype(int)

In [53]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       480 non-null    float64
 1   1       480 non-null    float64
 2   2       480 non-null    float64
 3   3       480 non-null    float64
 4   4       480 non-null    float64
 5   5       480 non-null    float64
 6   6       480 non-null    float64
 7   7       480 non-null    float64
 8   8       480 non-null    float64
 9   9       480 non-null    float64
 10  10      480 non-null    float64
dtypes: float64(11)
memory usage: 41.4 KB

In [54]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.1, random_state=43)

In [55]:
lr = LogisticRegression()
lr.fit(xtrain, ytrain)
xtrain_predict = lr.predict(xtrain)
accuracy_score(xtrain_predict, ytrain)

C:\Users\syoge\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8148148148148148